:root {
	color-scheme: light dark; /* both supported */
	}
	
	
	@font-face {
	font-family: 'CMU Serif Roman';
	font-style: normal;
	font-weight: normal;
	src: local('CMU Serif Roman'), url('/fonts/cmunrm.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'CMU Serif Italic';
	font-style: normal;
	font-weight: normal;
	src: local('CMU Serif Italic'), url('/fonts/cmunti.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'CMU Serif Bold';
	font-style: normal;
	font-weight: normal;
	src: local('CMU Serif Bold'), url('/fonts/cmunbx.woff') format('woff');
	}
	
	
	@font-face {
	font-family: 'CMU Serif BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: local('CMU Serif BoldItalic'), url('/fonts/cmunbi.woff') format('woff');
	}
	
	
	body {
	background-color: #eae8e5;
	color: #424d51;
	line-height: 80%;
	font-size: 1em;
	font-family: 'CMU Serif Italic', serif;
	}
	
	code, article, nav {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
	}
	
	article {
	font-size: 1.2em;
	line-height: 175%;
	text-align: justify;
	}
	
	.logo {
		display: block;
		  margin-left: auto;
		  margin-right: auto;
		  margin-bottom: 5em;
		  margin-top: 2em;
		  max-width: 25vw;
	}
	
	img {
		display: block;
		margin-left: auto;
		  margin-right: auto;
		  width: 100%;
		  margin-bottom: 1em;
		  
	}
	
	
	
	h1 {
	color: #2c2f2e;
	font-size: 1.6em;
	margin-bottom: 0.2em;
	font-family: 'CMU Serif Bold', serif;
	}
	
	article h2 {
	margin-top: 2em;
	font-size: 1.4em;
	
	}
	
	.full-width {
		  width: 100vw;
		  position: relative;
		  left: 50%;
		  right: 50%;
		  margin-left: -50vw;
		  margin-right: -50vw;
		}
	
	a {
	color: #777;
	text-decoration: underline;	
	}
	
	
nav {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 4em;
	
	
}
	
	b {
	color: black;
	}
	
	
	
	h2 {
	font-size: 1.3em;
	margin: 0;
	font-size: 1.1em;
	font-family: 'CMU Serif Bold';
	margin-bottom: 0.5em;
	}
	
	author {
	font-size: 0.8em;
	color: #777;
	text-align: center;
	font-family: 'CMU Serif Italic', serif;
	}
	
	footer {
	font-size: 0.7em;
	text-align: center;
	margin-bottom: 2em;
	font-family: 'CMU Serif Italic', serif;
	color: #777777;

		
	}
	
	author::before {
	content: ' by ';
	}
	
	
	@media (prefers-color-scheme: dark) {
	/* defaults to dark theme */
	body {
		background-color: #002B36;
		color: #AAA;
	}
	b {
		color: #FFF;
	}
	span, code code, article code, pre {
		background-color: #083642;
	}
	nav a {
		color: white;
	}
	
	h1, h2 {
		color: white;
		
	}
	
	body.accessibility {
		background-color: #292929;
	}
	
	
	body.accessibility article {
		color: white;
	}
	
	body.accessibility h1 {
		color: white;
	}	
	}
	
	@media print {
	body {
		background-color: white;
	}
	
	body article {
		font-family: 'CMU Serif Italic', serif;
		color: black;
	}
	
	body h1 {
		color: black;
	}
	
	.back, .accessibilityToggle {
		display: none;
	}
	}